/* Estilização da página fluxo de atendimento */





.bgParallax {
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
}





.image-responsive {
  max-width: 100%;
}


.clear {
  clear: both;
}


/* line 386, ../sass/screen.scss */
main#home #part1, main.page #part1, main.single-post #part1, main.search-results #part1, main.search-no-results #part1, main.category #part1, main.archive #part1 {
  width: 100%;
  height: 500px;
  background-image: url("../images/solu/1.png");
  text-align: center;
 
  z-index: 2;
  position: relative;
    background-size: cover;

}
/* line 394, ../sass/screen.scss */
main#home #part1 .container, main.page #part1 .container, main.single-post #part1 .container, main.search-results #part1 .container, main.search-no-results #part1 .container, main.category #part1 .container, main.archive #part1 .container {
  padding-top: 100px;
}
/* line 397, ../sass/screen.scss */
main#home #part1 .span_6, main#home #part1 .span_7, main.page #part1 .span_6, main.page #part1 .span_7, main.single-post #part1 .span_6, main.single-post #part1 .span_7, main.search-results #part1 .span_6, main.search-results #part1 .span_7, main.search-no-results #part1 .span_6, main.search-no-results #part1 .span_7, main.category #part1 .span_6, main.category #part1 .span_7, main.archive #part1 .span_6, main.archive #part1 .span_7 {
  margin: 0 auto;
}
/* line 400, ../sass/screen.scss */
main#home #part1 .icon_logo, main.page #part1 .icon_logo, main.single-post #part1 .icon_logo, main.search-results #part1 .icon_logo, main.search-no-results #part1 .icon_logo, main.category #part1 .icon_logo, main.archive #part1 .icon_logo {
  margin-bottom: 50px;
}
/* line 403, ../sass/screen.scss */
main#home #part1 h3, main.page #part1 h3, main.single-post #part1 h3, main.search-results #part1 h3, main.search-no-results #part1 h3, main.category #part1 h3, main.archive #part1 h3 {
  color: #ffffff;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 410, ../sass/screen.scss */
main#home #part1 h3 strong, main.page #part1 h3 strong, main.single-post #part1 h3 strong, main.search-results #part1 h3 strong, main.search-no-results #part1 h3 strong, main.category #part1 h3 strong, main.archive #part1 h3 strong {
  font-weight: 900;
}
@media (min-width: 0px) and (max-width: 779px) {
  /* line 403, ../sass/screen.scss */
  main#home #part1 h3, main.page #part1 h3, main.single-post #part1 h3, main.search-results #part1 h3, main.search-no-results #part1 h3, main.category #part1 h3, main.archive #part1 h3 {
    font-size: 30px;
    line-height: 45px;
    padding: 0 15px;
  }
}
/* line 419, ../sass/screen.scss */
main#home #part1 .go_down, main.page #part1 .go_down, main.single-post #part1 .go_down, main.search-results #part1 .go_down, main.search-no-results #part1 .go_down, main.category #part1 .go_down, main.archive #part1 .go_down {
  margin-top: 90px;
  position: absolute;
  z-index: 999;
}
/* line 427, ../sass/screen.scss */
main#home #part2 {
  margin-top: -130px;
  position: relative;
  text-align: center;
  padding: 0;
  margin-bottom: 6px;
  min-height: 500px;
  width: 100%;
  z-index: 1;
}
/* line 436, ../sass/screen.scss */
main#home #part2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50.1%;
  background-color:#C41933;
  -moz-transform: skew(0deg, 15deg);
  -ms-transform: skew(0deg, 15deg);
  -webkit-transform: skew(0deg, 15deg);
  transform: skew(0deg, 15deg);
}
/* line 446, ../sass/screen.scss */
main#home #part2:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background:#C41933;
  -moz-transform: skew(0deg, -15deg);
  -ms-transform: skew(0deg, -15deg);
  -webkit-transform: skew(0deg, -15deg);
  transform: skew(0deg, -15deg);
}
/* line 456, ../sass/screen.scss */
main#home #part2 .container {
  padding-top: 200px;
}
/* line 459, ../sass/screen.scss */
main#home #part2 .content {
  text-align: center;
  position: relative;
  z-index: 1;
}
/* line 463, ../sass/screen.scss */
main#home #part2 .content .icon_logo_colorido {
  margin-bottom: 32px;
}
@media (min-width: 0) and (max-width: 779px) {
  /* line 459, ../sass/screen.scss */
  main#home #part2 .content {
    padding: 0 25px;
  }
}
/* line 469, ../sass/screen.scss */
main#home #part2 .content .span_10 {
  margin: 0 auto;
}
/* line 471, ../sass/screen.scss */
main#home #part2 .content .span_10 p {
  
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 45px;
}
#part7 .span_10 p {
  
  color: #ffffff;
  font-size: 26px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 45px;

}
/* line 478, ../sass/screen.scss */
main#home #part2 .content .span_10 p strong {
  font-weight: 600;
}
/* line 485, ../sass/screen.scss */
main#home #part3 {
  width: 100%;
  height: 700px;
  background-image: url("../images/solu/2.png");
  margin-top: -135px;
  position: relative;
   background-size: cover;
}
main#home #part45 {
  width: 100%;
  height: 700px;
  background-image: url("../images/solu/3.png");
  margin-top: -135px;
  position: relative;
   background-size: cover;
}
main#home #part45 .content h3 {
 
  color: #ffffff;
  font-size: 57px;
  text-transform: uppercase;
  line-height: 65px;
  margin-top: 145px;
  margin-bottom: 70px;
  text-align: center;
}
@media (min-width: 0) and (max-width: 779px) {
  /* line 502, ../sass/screen.scss */
  main#home #part45 .content h3 {
    font-size: 35px;
    padding: 0 15px;
    line-height: 45px;
  }
}
main#home #part45 .content .span_6 {
  margin: 0 auto;
}
/* line 491, ../sass/screen.scss */
main#home #part3 .container {
  padding-top: 335px;
}
/* line 494, ../sass/screen.scss */
main#home #part3 .content {
  text-align: center;
}
/* line 496, ../sass/screen.scss */
main#home #part3 .content .span_6 {
  margin: 0 auto;
}
/* line 499, ../sass/screen.scss */
main#home #part3 .content i.icon_brain {
  margin-bottom: 45px;
}
/* line 502, ../sass/screen.scss */
main#home #part3 .content h3 {
 
  color: #ffffff;
  font-size: 57px;
  text-transform: uppercase;
  line-height: 65px;
  margin-bottom: 90px;
}
@media (min-width: 0) and (max-width: 779px) {
  /* line 502, ../sass/screen.scss */
  main#home #part3 .content h3 {
    font-size: 35px;
    padding: 0 15px;
    line-height: 45px;
  }
}
/* line 517, ../sass/screen.scss */
main#home #part3 .go_down {
  position: relative;
  z-index: 10;
}
/* line 522, ../sass/screen.scss */
main#home #part4 {
  margin-top: -130px;
  position: relative;
  text-align: center;
  padding: 0;
  margin-bottom: 6px;
  min-height: 883px;
  width: 100%;
}
@media (min-width: 0px) and (max-width: 779px) {
  /* line 522, ../sass/screen.scss */
  main#home #part4 {
    min-height: 950px;
  }
}
/* line 533, ../sass/screen.scss */
main#home #part4:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50.1%;
  background: #ffffff;
  -moz-transform: skew(0deg, 15deg);
  -ms-transform: skew(0deg, 15deg);
  -webkit-transform: skew(0deg, 15deg);
  transform: skew(0deg, 15deg);
}
/* line 543, ../sass/screen.scss */
main#home #part4:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #ffffff;
  -moz-transform: skew(0deg, -15deg);
  -ms-transform: skew(0deg, -15deg);
  -webkit-transform: skew(0deg, -15deg);
  transform: skew(0deg, -15deg);
}
/* line 553, ../sass/screen.scss */
main#home #part4 .container {
  padding-top: 50px;
}
@media (min-width: 780px) {
  /* line 553, ../sass/screen.scss */
  main#home #part4 .container {
    padding-top: 200px;
  }
}
/* line 559, ../sass/screen.scss */
main#home #part4 .content {
  position: relative;
  z-index: 1;
}
/* line 563, ../sass/screen.scss */
main#home #part4 .slide {
  height: 770px;
}
/* line 566, ../sass/screen.scss */
main#home #part4 .span_8, main#home #part4 .span_6, main#home #part4 .span_7 {
  margin: 0 auto;
}
/* line 569, ../sass/screen.scss */


@media (min-width: 0) and (max-width: 779px) {
  /* line 601, ../sass/screen.scss */
  main#home #part4 .number {
    width: 60px;
    height: 60px;
    font-size: 38px;
    line-height: 60px;
    margin-bottom: 5px;
  }
}
/* line 622, ../sass/screen.scss */
main#home #part4 h2 {
  font-family: "Lato", sans-serif;
  color: #362d5b;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media (min-width: 0) and (max-width: 779px) {
  /* line 622, ../sass/screen.scss */
  main#home #part4 h2 {
    font-size: 26px;
  }
}
/* line 632, ../sass/screen.scss */
main#home #part4 p {
  font-family: "Lato", sans-serif;
  color: #362d5b;
  font-size: 26px;
  line-height: 32px;
}
@media (min-width: 0) and (max-width: 779px) {
  /* line 632, ../sass/screen.scss */
  main#home #part4 p {
    font-size: 18px;
    line-height: 28px;
  }
}

/* line 645, ../sass/screen.scss */
main#home #part4 .go_down {
  background-position: -292px -86px;
  position: relative;
  z-index: 10;
}
/* line 651, ../sass/screen.scss */
main#home #part5 {
  width: 100%;
  background-image: url("../images/solu/4.png");
  margin-top: -136px;
  text-align: center;
  height: 700px;
  background-size: cover;
      background-position: center center;
    background-attachment: fixed;

}
main#home #part5 .content h3 {
 
  color: #ffffff;
  font-size: 57px;
  text-transform: uppercase;
  line-height: 65px;
  margin-top: 145px;
  margin-bottom: 70px;
  text-align: center;
}

@media (min-width: 0) and (max-width: 779px) {
  /* line 502, ../sass/screen.scss */
  main#home #part5 .content h3 {
    font-size: 35px;
    padding: 0 15px;
    line-height: 45px;
  }
}
main#home #part6 {
  width: 100%;
  background-image: url("../images/solu/5.png");
  margin-top: -136px;
  text-align: center;
  height: 700px;
  background-size: cover;
      background-position: center center;
    background-attachment: fixed;

}
main#home #part6 .content h3 {
 
  color: #ffffff;
  font-size: 57px;
  text-transform: uppercase;
  line-height: 65px;
  margin-top: 145px;
  margin-bottom: 70px;
  text-align: center;
}

@media (min-width: 0) and (max-width: 779px) {
  /* line 502, ../sass/screen.scss */
  main#home #part6 .content h3 {
    font-size: 35px;
    padding: 0 15px;
    line-height: 45px;
  }
}
main#home #part7 {
  width: 100%;
  background-image: url("../images/solu/6.png");
  margin-top: -136px;
  text-align: center;
 
  background-size: cover;
  

}
main#home #part7 .content h3 {
 
  color: #ffffff;
  font-size: 57px;
  text-transform: uppercase;
  line-height: 65px;
  margin-top: 145px;
  margin-bottom: 70px;
  text-align: center;
}

@media (min-width: 0) and (max-width: 779px) {
  /* line 502, ../sass/screen.scss */
  main#home #part7 .content h3 {
    font-size: 35px;
    padding: 0 15px;
    line-height: 45px;
  }
}

@media (min-width: 0) and (max-width: 779px) {
  /* line 502, ../sass/screen.scss */
 main#home #part7 .content .span_10 p  {
    font-size: 20px;
        margin: 0 auto
        line-height: 35px; 

  }
}
@media (max-width: 779px) and (min-width: 0){
main#home #part7 .content {
    padding: 0 25px;

}
.overlay > .container {
    padding: 90px 0px;
}

.maininstitucional{
height: 100px;

}

}
